node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.remote-diag.sh
.sync-test.sh

# Local Netlify folder
.netlify
.output/
.netlify/
.nitro/
dist/
